<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <!-- Pure CSS import -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sentence Viz</title>


    <script>
      function sent() {
         var elem = document.getElementById('hide_me');
         elem.style.visibility = 'hidden';

         var elem2 = document.getElementById('sentence');
         elem2.focus();

      }
    </script>

  </head>


  <body>

  	<div class = "container">
       <div id = "colors">
        <span>Sentence Visualizer. Try a sentence like "I went to the store" or "I read their books"</br></span>
        <span id = "red">Verb</span>
        <span id = "blue">Subject</span>
        <span id = "yellow">Direct Object</span>
        <span id = "green">Preposition Object</span>
      </div>

	  		<form class="pure-form" action ="" method="POST" id = "form_focus">
		    	<fieldset>
            <!--{{completed_input | safe}}-->
			       <input name = "user_sentence" id = "sentence" type="sentence" placeholder="">

             
		    	</fieldset>

          <div id = "hide_me" onclick="sent();">
                {{overlay | safe}}
          </div>
			</form>
  	</div>



  </body>

</html>