<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <!-- Pure CSS import -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sentence Viz</title>

  </head>

  <body>

  	<div class = "container">
	  		<form class="pure-form" action ="" method="POST" id = "form_focus">
		    	<fieldset>
            {{completed_input | safe}}
			       <!-- <input name = "user_sentence" id = "sentence" type="sentence" placeholder="{{subject}} {{object}} {{verb}}" />-->

             
		    	</fieldset>

          <div id = "hide_me" onclick="new_sentence()">
                {{overlay | safe}}
          </div>
			</form>
  	</div>



  </body>

  <script>
    function new_sentence() {
         $('#hide_me').css('visibility', 'hidden');
         //$('#sentence').focus();
    }
  </script>

</html>